<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:escrow="http://typo3.org/ns/CAG/Tmpl/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:comment>

        DOCUMENTATION
        =============

        * FAL vs. no FAL - one of the following arguments has to be handed over
        ** singleImageArray: can contain an Array with image.url, image.title, image.alternative, image.description
        ** images: object storage array containing file reference objects

        * ratio / stretch feature - the argument aspectRatioClass can be one of the following css classes
        ** TODO: check if still working / needed: .figure__no-stretch
        ** figure__16-9
        ** figure__4-3
        ** figure__wide
        ** figure__ultra-wide
        ** figure__no-ratio

        * imageSettings - to hand over any settings array (eg. from TypoScript / FlexForm)
        ** example: <v:variable.set name="imageSettings" value="{large: {0: 1180, 1: 1440}, medium: {0: 768, 1: 920}, defaultWidth: 480}" />
        ** large: array containing media query min-width (index 0) and image width (index 1)
        ** medium: see large
        ** small: see large
        ** default: usally the smallest version - we need at least this one image width (mandatory)

        * TODO: try to include figcaption inside figure
        * TODO: DRY: extract redundant parts from sub sections and include them inside section Main, maybe by using v:variable.set


    </f:comment>

    <f:section name="Main">

        <f:comment>TODO: think about enabling cropping vis TS (eg. via {imageSettings})</f:comment>
        <f:comment>TODO: maybe distinguish between one vs. multiple images (for slick slider, anyway maybe?)</f:comment>
        <f:comment>TODO: check if image-fit still needed ... or rather figure__no-stretch ... or none of them?</f:comment>
        <f:comment>TODO: implement fallback / default imageSettings if none are given</f:comment>

        <f:if condition="{images}">
            <f:then>
                <f:render section="ImagesFal" arguments="{_all}" />
            </f:then>
            <f:else>
                <f:render section="SingleImage" arguments="{_all}" />
            </f:else>
        </f:if>

    </f:section>


    <f:section name="ImagesFal">

        <f:if condition="{images -> f:count() > 0}">
            <f:for each="{images}" as="fileref" iteration="i">

                <f:comment>TODO: remove this condition when we're ready for multiple images in the partial</f:comment>
                <f:if condition="{i.isFirst}">

                    <f:alias map="{image: fileref.originalResource, imageMetadata: fileref.originalResource.propertiesOfFileReference}">

                        <f:comment>Set image focus top or bottom</f:comment>
                        <f:if condition="{image.image_focus}">
                            <f:switch expression="{image.image_focus}">
                                <f:case value="top">
                                    <v:variable.set name="imageFocus" value="{v:variable.get(name: 'imageRatio')} figure__top" />
                                </f:case>
                                <f:case value="bottom">
                                    <v:variable.set name="imageFocus" value="{v:variable.get(name: 'imageRatio')} figure__bottom" />
                                </f:case>
                            </f:switch>
                        </f:if>

                        <figure class="image image-fit {aspectRatioClass} {imageFocus}">
                            <v:media.picture src="{image.originalFile.publicUrl}"
                                             alt="{image.alternative}"
                                             title="{image.title}"
                                             additionalAttributes="{class: 'image-container'}">

                                <f:if condition="{imageSettings.large}">
                                    <v:media.source media="(min-width: {imageSettings.large.0}px)" maxW="{imageSettings.large.1}" />
                                </f:if>
                                <v:media.source maxW="{imageSettings.defaultWidth}"/>


                                <f:comment>
                                    <v:media.source media="(min-width: 1024px)" maxW="720" />
                                    <v:media.source maxW="420"/>
                                </f:comment>
                                <f:comment>
                                    <v:media.source media="(min-width: 992px)" width="300c" height="300c" />
                                    <v:media.source media="(min-width: 768px)" width="200c" height="200c" />
                                </f:comment>
                            </v:media.picture>
                        </figure>

                        <f:if condition="{image.description}">
                            <figcaption>
                                <f:format.html parseFuncTSPath="lib.parseFunc">{image.description}</f:format.html>
                            </figcaption>
                        </f:if>
                    </f:alias>

                </f:if>

            </f:for>
        </f:if>

    </f:section>


    <f:section name="SingleImage">
        <f:alias map="{image: singleImageArray}">

            <f:comment>Set image focus top or bottom</f:comment>
            <f:if condition="{image.image_focus}">
                <f:switch expression="{image.image_focus}">
                    <f:case value="top">
                        <v:variable.set name="imageFocus" value="{v:variable.get(name: 'imageRatio')} figure__top" />
                    </f:case>
                    <f:case value="bottom">
                        <v:variable.set name="imageFocus" value="{v:variable.get(name: 'imageRatio')} figure__bottom" />
                    </f:case>
                </f:switch>
            </f:if>

            <figure class="image image-fit {aspectRatioClass} {imageFocus}">


                    <v:media.picture src="{image.url}"
                                     alt="{image.alternative}"
                                     title="{image.title}"
                                     additionalAttributes="{class: 'image-container'}">

                        <f:if condition="{imageSettings.large}">
                            <v:media.source media="(min-width: {imageSettings.large.0}px)" maxW="{imageSettings.large.1}" />
                        </f:if>

                        <v:media.source maxW="{imageSettings.defaultWidth}"/>

                    </v:media.picture>

            </figure>

            <f:if condition="{image.description}">
                <figcaption>
                    <f:format.html parseFuncTSPath="lib.parseFunc">{image.description}</f:format.html>
                </figcaption>
            </f:if>
        </f:alias>
    </f:section>

</div>