<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="Page"/>

	<f:section name="Main">


		<!-- TODO: make .page--details dynamic, picked up from page template -->
		<div class="page page--details">

			<f:render partial="Header" section="Main" arguments="{_all}" />

			<f:render partial="ContentArea" section="Main" arguments="{_all}" />

			<f:render partial="Footer" section="Main" arguments="{_all}" />

		</div>

	</f:section>

</html>
