<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">

  <div class="ce ce--image ce--{gallery.position.horizontal} ce--{gallery.position.vertical}">

    <f:comment>
      <!-- TODO: finish up a well working ImagePartial for CAG us here -->
    </f:comment>

    <picture>
      <source
        media=”(min-width: 900px)”
        srcset=“image-lg_1x.webp 1x, image-lg_2x.webp 2x”
        type=“image/webp”>
      <source
        media=”(min-width: 601px)”
        srcset=“image-md_1x.webp 1x, image-md_2x.webp 2x”
        type=“image/webp”>
      <source
        srcset=“image-sm_1x.webp 1x, image-sm_2x.webp 2x”
        type=“image/webp”>
      <img
        srcset=“image-sm_1x.jpg 600w,
        image-md_1x.jpg 900w,
        image-lg_1x.jpg 1440w”
        src=“image_lg_1x.jpg”
        type=“image/jpeg”
        alt=”image description”>
    </picture>

  </div>

</f:section>

</html>
