.button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem;
    font-family: inherit;
    padding: .85rem 1rem .75rem 1rem;
    border: 1px solid transparent;
    border-radius: 0;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    color: $white;
    background-color: $black;
    transition: all .3s ease-in-out;
  
  
    &:hover {
      background-color: $white;
      color: $black;
      border-color: $black;
    }
  
    &--white {
      background-color: $white;
      color: $black;
      border-color: $black;
  
      &:hover {
        background-color: $black;
        color: $white;
        border-color: transparent;
      }
    }
  }
  