/* DUMMY FORM STYLE */

// labels variable
$label_color_focus: rgba(0, 0, 0, .4);
$label_color: $black;

// inputs variable
$input_height: 2.8125rem;
$input_padding_top: .75rem;
$input_padding_left: $input_padding_top*2;
$transition-duration: .2s;
$input_checkbox_width: 1.5rem;
$input_checkbox_height: 1.5rem;
$input_radio_width: $input_checkbox_width;
$input_radio_height: $input_checkbox_height;
$input_checked_icon_color: $black;
$input_text_color: $black;

.form {
  
  &__field {
    position: relative;
    margin: 2rem 0;
  }

  &--submit {
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 9999;
      background: rgba(0, 0, 0, .5);
      opacity: 0;
    }
  }
}

.label {
  color: $label_color;
  font-family: $body-font-family;

  &__text,
  &__date {
    position: absolute;
    top: $input_padding_top;
    left: $input_padding_left;
    line-height: 1.4;
    color: $label_color_focus;
    transform: translate(0, 0) scale(1);
    transition: all $transition-duration ease-in-out;
  }

  &__checkbox,
  &__radio {
    display: block;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: $input_checkbox_width;
      height: $input_checkbox_height;
      background-color: $medium-gray;
      transition: all $transition-duration ease-in-out;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: $input_checkbox_width - $input_checkbox_height/1.25;
      left: 0;
      width: $input_checkbox_width/1.25;
      height: $input_checkbox_height/1.25;
      background-color: transparent;
      opacity: 0;
      transition: all $transition-duration ease-in-out;
    }
  }

  &:hover {
    &:before {
      background-color: $dark-gray;
    }
  }

  &__checkbox {
    &:after {
      left: 7px;
      width: 10px;
      top: 1px;
      border: solid $input_checked_icon_color;
      border-width: 0 4px 4px 0;
      transform: rotate(45deg);
    }
  }

  &__radio {

    &:before,
    &:after {
      border-radius: $input_radio_width/1.5;
    }

    &:after {
      top: 6px;
      left: 6px;
      width: $input_checkbox_width/1.875;
      height: $input_checkbox_height/1.875;
      background-color: $input_checked_icon_color;
    }
  }
}

select,
.input {

  display: block;
  width: 100%;
  height: $input_height;
  padding: $input_padding_top $input_padding_left;
  border-width: 1px;
  border-color: $black;
  border-style: solid;
  background: transparent;
  font-family: $body-font-family;

  &.not-empty,
  &:focus {
    border-color: #ccc;
    outline: none;

    +.label__text {
      transform: translate(-$input_padding_left, -$input_padding_top*3) scale(.75);
    }
  }


  &__textarea {
    height: $input_height * 4;
  }

  &__checkbox,
  &__radio {
    display: none;
    opacity: 0;

    &:checked+.label {
      &:after {
        opacity: 1;
      }
    }
  }
}


// loading submit
$color-btn-inactive: #666;
$color-btn-border: transparent;
$color-btn-text: $white;
$color-loading: #3adb76;

.showLoadingIndicator {
  position: relative;

  button {
    margin-right: .25rem;
    margin-bottom: 1rem;
  }

  // button with loader animate
  // style button
  .showLoadingButton {
    position: relative;
    padding-left: 3rem;
    margin-bottom: 1rem;
    margin-right: .25rem;
    cursor: not-allowed;
    border-color: $color-btn-border;
    background: $color-btn-inactive;
    color: $color-btn-text;
    transition-property: all;
    transition-duration: .2s;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0);
      background-image: none;
      z-index: 9999;
    }

    // loader icon
    &:after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      top: .75rem;
      left: 1rem;
      transform: translate(0%, -50%);
      z-index: 999;
      border: 2px solid $color-loading;
      border-radius: 50%;
      opacity: 0;
      animation: rotate-full 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite, opacity-to-open .25s ease-in forwards .5s 1;
      border-color: $color-loading $color-loading $color-loading transparent;
    }
  }
}


@keyframes rotate-full {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes opacity-to-open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
