// -----------------------------------------------------------------------------
// This file contains all @font-face declarations for the default CSS
// -----------------------------------------------------------------------------

// Original The Sans font-weight values
// 200 => ExtraLight
// 300 => Light
// 400 => SemiLight
// 500 => Plain
// 600 => SemiBold
// 700 => Bold
// 800 => ExtraBold
// 900 => Black

/*

// 200 = ExtraLight
//@font-face {
//  font-family: 'TheSans';
//  src: url('../fonts/TheSans_B2_200.eot');
//  src: url('../fonts/TheSans_B2_200.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/TheSans_B2_200.woff') format('woff'),
//  url('../fonts/TheSans_B2_200.svg#TheSans_B2_200') format('svg');
//
//  font-weight: 200;
//
//}

// 300 = Light
@font-face {
  font-family: 'TheSans';
  src: url('../fonts/TheSans_B2_300.eot');
  src: url('../fonts/TheSans_B2_300.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TheSans_B2_300.woff') format('woff'),
  url('../fonts/TheSans_B2_300.svg#TheSans_B2_300') format('svg');

  font-weight: 300;
}

// 400 = SemiLight
//@font-face {
//  font-family: 'TheSans';
//  src: url('../fonts/TheSans_B2_400.eot');
//  src: url('../fonts/TheSans_B2_400.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/TheSans_B2_400.woff') format('woff'),
//  url('../fonts/TheSans_B2_400.svg#TheSans_B2_400') format('svg');
//
//  font-weight: 400;
//
//}

// 500 = Plain
@font-face {
  font-family: 'TheSans';
  src: url('../fonts/TheSans_B2_500.eot');
  src: url('../fonts/TheSans_B2_500.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TheSans_B2_500.woff') format('woff'),
  url('../fonts/TheSans_B2_500.svg#TheSans_B2_500') format('svg');

  font-weight: 500;

}

// 600 = SemiBold
//@font-face {
//  font-family: 'TheSans';
//  src: url('../fonts/TheSans_B2_600.eot');
//  src: url('../fonts/TheSans_B2_600.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/TheSans_B2_600.woff') format('woff'),
//  url('../fonts/TheSans_B2_600.svg#TheSans_B2_600') format('svg');
//
//  font-weight: 600;
//
//}

// 700 = Bold
@font-face {
  font-family: 'TheSans';
  src: url('../fonts/TheSans_B2_700.eot');
  src: url('../fonts/TheSans_B2_700.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TheSans_B2_700.woff') format('woff'),
  url('../fonts/TheSans_B2_700.svg#TheSans_B2_700') format('svg');

  font-weight: 700;

}

// 800 = ExtraBold
//@font-face {
//  font-family: 'TheSans';
//  src: url('../fonts/TheSans_B2_800.eot');
//  src: url('../fonts/TheSans_B2_800.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/TheSans_B2_800.woff') format('woff'),
//  url('../fonts/TheSans_B2_800.svg#TheSans_B2_800') format('svg');
//
//  font-weight: 800;
//
//}

// 900 = Black
//@font-face {
//  font-family: 'TheSans';
//  src: url('../fonts/TheSans_B2_900.eot');
//  src: url('../fonts/TheSans_B2_900.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/TheSans_B2_900.woff') format('woff'),
//  url('../fonts/TheSans_B2_900.svg#TheSans_B2_900') format('svg');
//
//  font-weight: 900;
//
//}

*/
