//
// General styles for html elements, basic typography helpers
//

// basic h1 style to test the CSS compilation including postCSS autoprefixer – see web/static.html for results
h1 {

  color: $success-color;
  transform: rotate(-3deg);

}

/*
address {
  font-style: normal;
}

.font--smaller {
  //@extend small; // using the Foundation default style for <small>
}

p {
  font-size: $ce-text-font-size;
  //font-weight: $ce-text-font-weight;
}

.button {
  font-weight: $global-weight-medium;
}
*/
