//
// Very general styles for content elements
//

.page-content {

  img {
    max-width: 100%;
    object-fit: cover;
  }

}

// very basic content element styles
.ce {

  //margin-top: $ce-margin;
  //margin-bottom: $ce-margin;

}
