//
// Styles for the general page footer section
//
.page-footer {
  max-width: $global-width;
  margin: 0 auto;
  padding: 1rem .9375rem;
  background-color: #000;

  a {
    color: #fff;
  }

  p {
    float: right;
    margin: 0;
    color: #fff;
  }
}
