//
// Styles for the general page footer section
//

// logo in header
.logo {
  float: left;
}

.page-header {

  height: 60px;
  max-width: $global-width;
  margin: 0 auto;
  padding: 1rem .9375rem;
  text-align: right;
  background-color: #000;

  a {
    color: #fff;
  }

}
