//
// Styles for general navigational elements such as main menu, etc.
//

// form search in header
.page-header__search {

  display: inline-block;
  margin-left: 1rem;

}

// to-top anchor
#anchor-wrap {

  position: fixed;
  right: 1rem;
  bottom: .75rem;
  box-shadow: 0 1px 7px rgba(0, 0, 0, .2);
  z-index: 998;

  #anchor-totop {

    display: block;
    min-height: 1.875rem;
    padding: .375rem .75rem;
    background-color: #fff;
    color: #333;
    font-size: .75rem;

  }

}
